
<nav class="navbar bg-primary text-white p-2">
  <h1>Messages:</h1>
</nav>

<!-- {{ messages | json }}  -->

<hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let msg of messages">
      <p>{{ msg.text }}</p>
      <em>{{msg.date | date:'dd/MM HH:mm:ss'}}</em>
    </li>
  </ul>
<hr>

<p class="alert alert-info m-2"
 *ngIf=" messages.length === 0 ">Cliquez sur le bouton de chargement...</p>

<button 
  class="btn btn-primary m-1"
  (click)=" getData() " 
  [disabled]=" messages.length > 0  ">
  Charger les données
</button>

<button 
  class="btn btn-danger m-1"
  (click)=" messages = [] " >
Effacer
</button>