<app-header>
  Home
  <app-navigation></app-navigation>
</app-header>

<app-alert [visible]="srv.messages.length === 0 ">
  Cliquez sur le bouton de chargement...
</app-alert>

<div class="m-3">
  <input appZoom [(ngModel)]="searchText" class="form-control" placeholder="Filter...">
</div>

<app-list [messages]="srv.messages | searchByText:searchText  "></app-list>

<app-controls
  [disabled]=" srv.messages.length !== 0 "
  actionLabel="Charger"
  cancelLabel="Effacer"
  (action)="srv.getData()"
  (cancel)="srv.reset()"
  >
</app-controls>

